/* Stilizujte celu widget oblast */
.widget-area2 {
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 0 0 25%; /* Adjust as needed */
}

/* Remove the inline-block and use flex for the primary content */
#primary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Stilizujte search formu unutar widget oblasti */
.widget_search input[type="search"] {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Stilizujte celu pretragu formu */
.search-form {
    margin-bottom: 20px;
}

/* Stilizujte polje za unos teksta u pretrazi */
.search-form input[type="search"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Stilizujte dugme za slanje pretrage */
.search-form input[type="submit"] {
    background-color: #333;
    margin-top: 10px;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover efekat na dugmetu za slanje pretrage */
.search-form input[type="submit"]:hover {
    background-color: #555;
}

/* Stilizujte sve widgete unutar widget oblasti */
.widget {
    margin-bottom: 20px;
}

/* Stilizujte naslove widgeta */
.widget-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Stilizujte listu sa recentnim postovima */
.widget_block h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Stilizujte listu sa recentnim postovima */
.wp-block-latest-posts__post-title {
    color: #333;
    text-decoration: none;
}

.wp-block-latest-posts__post-title:hover {
    color: #555;
}

/* Stilizujte listu sa recentnim komentarima */
.wp-block-latest-comments__comment-author,
.wp-block-latest-comments__comment-link {
    color: #333;
    text-decoration: none;
}

.wp-block-latest-comments__comment-author:hover,
.wp-block-latest-comments__comment-link:hover {
    color: #555;
}

/* Stilizujte kategorije */
.wp-block-categories-list a {
    color: #333;
    text-decoration: none;
}

.wp-block-categories-list a:hover {
    color: #555;
}

/* Stilizujte video embed */
.wp-block-embed-youtube {
    width: 100%;
}

/* New styles for the content */
#content {
    flex-grow: 1; /* Allow the content to grow and take remaining space */
    box-sizing: border-box;
    padding: 0 20px; /* Add some spacing between content and sidebar */
    margin-right: 0; /* Remove margin to the right */
}

#secondary {
    max-width: 30%; /* Adjust this value based on your design */
    width: 100%;
    margin-left: auto; /* Move the sidebar to the right */
}
